body {
  font-family: Arial, sans-serif;
  background-color: #1145ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.firstContaner {
  display: flex;
  flex-direction: column;
}
.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  text-align: center;
  margin-bottom: 53px;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #28a745;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background: #f8f9fa;
}
button.delete {
  background: #dc3545;
}
.actions button {
  margin: 0 5px;
  padding: 5px 10px;
  background: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.actions button.delete {
  background: #77ff00;
}

.actions button:hover {
  opacity: 0.8;
}
#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer a {
  color: #03a9f4;
  text-decoration: none;
}
